<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Shoppity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul class="navbar-nav">
      {{#each h.menu as |item|}}
        <li class="nav-item">
          <a class="nav-link" href="{{item.slug}}">{{item.title}}</a>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
</nav>

