<nav>
{{#if pages > 0}}
  <ul class="pagination justify-content-center mt-4 mb-4">
  {{#if current == 1}}
    <li class="page-item disabled"><a class="page-link">1</a></li>
  {{else}}
    <li class="page-item"><a class="page-link" href="/catalog/1">1</a></li>
  {{/if}}
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
{{/if}}
</nav>