<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Data</li>
</ol>

<div class="card-group">
{{#each items as |product|}}
  {{#each product.image_groups as |imgGroup|}}
    {{#each imgGroup.images as |img|}}
    <div class="row">
      <div class="col-md-6">
        <div class="card card-horizontal mb-3">
          <img src="/images/{{img.link}}" alt="{{img.alt}}" title="{{img.title}}" class="product-img">
          <div class="card-block px-2">
            <h4 class="card-title py-3">{{product.name}}</h4>
            <p class="card-text">{{product.page_description}}</p>
            <div class="card-bottom">
              <strong class="card-text">Price: ${{product.price}}</strong>
              <a href="/product/{{product.id}}" class="btn btn-info ml-4">View Product</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-horizontal mb-3">
          <img src="/images/{{img.link}}" alt="{{img.alt}}" title="{{img.title}}" class="product-img">
          <div class="card-block px-2">
            <h4 class="card-title py-3">{{product.name}}</h4>
            <p class="card-text">{{product.page_description}}</p>
            <div class="card-bottom">
              <strong class="card-text">Price: ${{product.price}}</strong>
              <a href="/product/{{product.id}}" class="btn btn-info ml-4">View Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  {{/each}}
{{/each}}
</div>