<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
</ol>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec sem arcu. Fusce vitae est et ipsum dapibus vehicula. Cras a urna sed lacus elementum egestas nec sed velit. Ut in purus justo. Mauris at euismod felis. Fusce nec dignissim libero. Quisque imperdiet, nulla non tincidunt pellentesque, turpis turpis sodales enim, quis mattis enim magna vitae nulla.</p>