<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Data</li>
</ol>

<div class="card card-horizontal product-card mb-3">
  <img src="/images/products/large/70284588_100_0.jpg" alt="" class="card-img-top">
  <div class="card-block pt-3 pl-3">
    <h3 class="title-text">Product name</h3>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore perspiciatis, assumenda adipisci vel corrupti maiores ut quas voluptatibus ipsam iure. Voluptates voluptatum tempore velit quidem assumenda et deleniti officiis similique.</p>
    <div class="card-bottom">
      <strong class="card-text">Price: $122.00</strong>
      <select class="custom-select">
        <option selected>USD</option>
        <option value="CAD">CAD</option>
        <option value="EUR">EUR</option>
        <option value="BGN">BGN</option>
      </select>
      <button type="button" class="btn btn-info">Buy now</button>
    </div>
  </div>
</div>