<ol class="breadcrumb">
{{#each items as |topC|}}
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">{{topC.name}}</li>
</ol>

  <p>{{ topC.page_description }}</p>

  {{#each topC.categories as |firSubCat|}}
    {{#each firSubCat.categories as |secSubCat|}}
      <div class="card mb-4">
        <div class="card-body d-flex justify-content-center">
          <h4 class="card-title">{{ secSubCat.name }}</h4>
        </div>
        {{#if secSubCat.image}}
          <img src="images/{{ secSubCat.image }}" alt="" class="card-img-top">  
        {{else}}
          <img src="https://dummyimage.com/1200x190/e6e6e6/000.png&text=NO+IMAGE" alt="" class="card-top-img">
        {{/if}}
        <div class="card-body">
          <p class="card-text">{{ secSubCat.page_description }}</p>
          <a href="" class="btn btn-info btn-block">View more</a>
        </div>
      </div>
    {{/each}}
  {{/each}}
{{/each}}