@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

.breadcrumb {
  background: none;
}

.card-horizontal {
  flex-direction: row;
}

.card-horizontal .card-bottom {
  width: 300px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
}

.card-horizontal .card-bottom button {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  /* right: -160px; */
}

.card {
  position: relative;
  min-height: 350px;
}

.card img.product-img {
  width: 100%;
  max-width: 220px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.card-img-top {border-radius: 0;}

.product-card {
  min-height: 400px;
}

.product-card .card-bottom {
  width: 650px;
  bottom: 2em;
  display: flex;
}

.card-bottom .custom-select {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 125px;
}

/* .card {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  padding-right: 10px;
} 

.card-img-top {
  width: 50%;
  padding-right: 10px;
}

.card-title {
  padding-top: 15px;
} */


.card-bottom a {
  position: absolute;
  right: 0px;
  display: flex;
} 

.error-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
}

.filters-card {
  width: 100%;
  height: 90px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.slider {
  width: 200px;
}

.slider label[for='pricerange'] {
  display: block;
  font-size: 16px;
  margin-bottom: 0;
}

.slider label[for='pricerange'] > span {
  font-weight: lighter;
  font-size: 14px;
}

.slider span.min, span.max {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #565656;
}

.slider span.min {
  float: left;
}

.slider span.max {
  float: right;
}

.footer .container {
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
}